[submodule "fdependencies"]
	path = fdependencies
	url = https://github.com/claw-project/fdependencies.git
[submodule "xmods-pool"]
	path = xmods-pool
	url = https://github.com/claw-project/omni-xmod-pool.git
